<div class="container">
    <nav class="nav" >
        <button 
            mat-button
            color="primary"
            style="margin-right: 10px;"
            (click)="redirectProfile()"
            class="nav-button"
        > 
            User Profile
        </button>
        <button 
            mat-button 
            color="primary" 
            (click)="logout()"
            class="nav-button logout"
        >
            Logout
        </button>
    </nav>
    <div class="card-container">
        <mat-card 
            *ngFor="let movie of movies;" 
            class="movie-card"
        >
            <mat-card-header class="movie-title">
                <mat-card-title>
                    {{movie.Title}}
                </mat-card-title>

                <mat-card-subtitle>
                    Directed by: {{movie.Director.Name}}
                </mat-card-subtitle>
            </mat-card-header>
            <img 
                src={{movie.ImagePath}} 
                alt={{movie.Title}}
                class="movie-image" 
            />
            <mat-card-actions>
                <button 
                    mat-button 
                    color="secondary"
                    (click)="showGenre(movie)"
                > 
                    Genre
                </button>
                <button                
                    mat-button 
                    color="secondary"
                    (click)="showDirector(movie)"
                > 
                    Director
                </button>
                <button               
                    mat-button 
                    color="secondary"
                    (click)="showDescription(movie)"
                > 
                    Description
                </button>
                <button 
                    mat-button 
                    class="mat-icon-btn" 
                    *ngIf="!isFavoriteMovie(movie._id)" 
                    (click)="addToFavorites(movie._id)"
                    color="primary"
                >
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <button 
                    mat-button 
                    class="mat-flat-button" 
                    *ngIf="isFavoriteMovie(movie._id)" 
                    (click)="removeFromFavorites(movie._id)"
                    color="accent"
                >
                    <mat-icon>favorite</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div> 
</div>