.back-button {
    padding: 4px 12px 4px 12px;
    color: whitesmoke;
    background-color: Teal;
    border: none;
    border-radius: 4px;
    position: center;
    margin-left: 15px
  }

  .img {
      display: block;
      margin: auto;
      position: center;
      margin-top: 15px
  }
